.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color: rgb(80, 3, 87);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4 , 55px);
    /*grid-template-rows: repeat(3, 75px); sirve para movernos respecto a filas*/
    box-shadow: 15px 15px 20px 5px hsla(0, 0%, 0%, 75%);

}

.zero{
    grid-column: span 2;
}

.pantalla {
   
    height: 55px;
    margin: 5px;
    background: rgb(218, 240, 178);
    border: 5px black inset;
    grid-column: span 4;
    font-size: 25px;

}
.calculadora button{
    background-color: rgb(116, 12, 214);
    border-radius: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    font-size: 25px;
    box-shadow: 2px 2px 20px 2px hsla(0, 96%, 30%, 0.75);
}

.calculadora button:hover{
    background-color: rgb(213, 160, 235) ;
}